*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    height: 80px;
    background-color:#3B3B6D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0rem calc((100vw - 1300px)/2);
}
.logo{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
}

.link:hover{
    background-color: white;
    color: rgb(0, 162, 255);
}
.enlace{
    margin-top: auto;
}
.nav-items{
    display: flex;
}

.hero{
    background-color: #3B3B6D;
}
.hero-container {
display: grid;
grid-template-columns: 1fr 1fr;
height: 95vh;
padding: 3rem calc((100vw - 1300px))/2;
}
.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 0rem 2rem;
}
.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}
.column-left p{
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.5;
}
button {
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    color:white ;
    background-color: #3B3B6D;
    cursor: pointer;
    border-radius: 35px;
}
button:hover{
    background: white;
    color: black;
}
.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}
.hero-image{
    width: 100%;
    height: 100%;
}
